#####################################################################
#	Fan Control
#####################################################################

[heater_fan hotend_fan]
##	Hotend Fan
pin: EBBCan:PA0
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##	If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

##	Part cooling fan - controlled by M106/M107
[fan]
pin: EBBCan:PA1

##	Stepper driver cooling - runs while any of these motors is enabled
[controller_fan drivers]
pin: PB2
kick_start_time: 0.5
stepper: stepper_x, stepper_y, stepper_z

##	Electronics bay extractor, driven by the host CPU temperature
[temperature_fan electronics_bay]
pin: PA14
sensor_type: temperature_host
control: watermark
target_temp: 60
max_power: 1.0
kick_start_time: 0.5
min_temp: 10
max_temp: 100

##	Bed Fans - control macros live in macros/bedfans.cfg
[fan_generic bed_fans]
pin: PC8
#cycle_time: 0.05
kick_start_time: 0.5
