#####################################################################
#	Temperature Sensors
#####################################################################

[temperature_sensor chamber]
sensor_type: Generic 3950
sensor_pin: PC0
min_temp: 0
max_temp: 100
gcode_id: C

[temperature_sensor spyder_mcu]
sensor_type: temperature_mcu
sensor_mcu: mcu
min_temp: 0
max_temp: 200

[temperature_sensor ebb36_mcu]
sensor_type: temperature_mcu
sensor_mcu: EBBCan
min_temp: 0
max_temp: 200

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105

#####################################################################
#	Filament Sensors
#####################################################################

[filament_switch_sensor switch_sensor_1]
switch_pin: ^EBBCan:PB6
pause_on_runout: False
runout_gcode:
    M117 Filament sensor 1 triggered
    M600

[filament_switch_sensor switch_sensor_2]
switch_pin: ^EBBCan:PB5
pause_on_runout: False
runout_gcode:
    M117 Filament sensor 2 triggered
    M600
