#####################################################################
#	Clean Nozzle - Engine
#####################################################################

[gcode_macro CLEAN_NOZZLE]
gcode:
    PARK
    G90
    
    # Clean nozzle
    G1 X30 F18000
    G1 X66 F18000
    G1 X30 F18000
    G1 X66 F18000
    G1 X30 F18000
    G1 X66 Y305 F18000
    G1 X30 F18000
    G1 X66 F18000
    G1 X30 F18000
    G1 X66 F18000
    G1 X30 F18000
    G1 X90 F18000

    # Move away from brush
    G1 Y270 F18000

[gcode_macro PARK]
gcode:
  {% set restore = params.RESTORE|default("0")|int %}
  {% set x = params.X|default("175")|float %}
  {% set y = params.Y|default("175")|float %}
  {% set f = params.F|default("27000")|int %} #2700
  
  {% if restore == 1 %}
    # Move to coordinates given by HH as we are restoring position
    G1 X{x} Y{y} F{f}
  
  {% elif ((printer.gcode_move.gcode_position.x - 20)|abs > 0.05)
        or ((printer.gcode_move.gcode_position.y - 305)|abs > 0.05) %}
    # Perform custom park move to the nozzle stop
    SAVE_GCODE_STATE NAME=SET_PARK_STATE
    
    {% if (printer.gcode_move.gcode_position.y > 300) and (printer.gcode_move.gcode_position.x > 10) %}
      G1 Y297 F{f} #Move infront of the end of the nozzle wiper
    {% endif %}

    G1 X10 F{f}   #Move to the start of the nozzle wiper       
    G1 X10 Y305 F{f}   #Move to the right Y position aligning with the nozzle wiper
    G1 X20 Y305 F{f}   #Move on the nozzle stop
    RESTORE_GCODE_STATE NAME=SET_PARK_STATE
  {% endif %}

[gcode_macro UNPARK]
gcode:
  {% set f = params.F|default("27000")|int %} #
  # Unpark if on the park location
    SAVE_GCODE_STATE NAME=SET_UNPARK_STATE
    G1 X10 F{f}   #Move to the start of the nozzle wiper       
    RESTORE_GCODE_STATE NAME=SET_UNPARK_STATE
