#####################################################################
#	Spoolman
#####################################################################

[gcode_macro SET_ACTIVE_SPOOL]
description: Tell Spoolman which spool is loaded. Param - ID.
gcode:
  {% if params.ID %}
    {% set id = params.ID|int %}
    {action_call_remote_method(
       "spoolman_set_active_spool",
       spool_id=id
    )}
  {% else %}
    {action_respond_info("Parameter 'ID' is required")}
  {% endif %}

[gcode_macro CLEAR_ACTIVE_SPOOL]
description: Tell Spoolman no spool is loaded.
gcode:
  {action_call_remote_method(
    "spoolman_set_active_spool",
    spool_id=None
  )}

#####################################################################
#	Filament Sensor / Load / Unload
#####################################################################

[gcode_macro FILAMENT_SENSORS_ENABLE]
description: Enable or disable both toolhead filament sensors at once. Param - ENABLE.
gcode:
    {% set enable = params.ENABLE|default(1) %}
    SET_FILAMENT_SENSOR SENSOR=extruder_entry ENABLE={enable}
    SET_FILAMENT_SENSOR SENSOR=extruder_exit ENABLE={enable}

[gcode_macro LOAD_FILAMENT]
description: Load and purge filament. Cleans the nozzle if homed.
variable_load_distance:  60
variable_purge_distance:  40
gcode:
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity  * 60 %}
    SAVE_GCODE_STATE NAME=load_state
    CLEAR_ACTIVE_SPOOL
    {% if "xyz" in printer.toolhead.homed_axes and printer.pause_resume.is_paused == false %}
      CLEAN_LOAD
    {%else %}
      G91
      G92 E0
      G1 E{load_distance} F{max_velocity} # fast-load
      G1 E{purge_distance} F{speed} # purge
    {% endif %}
    RESTORE_GCODE_STATE NAME=load_state

[gcode_macro UNLOAD_FILAMENT]
description: Retract the filament out of the extruder.
variable_unload_distance:  70
gcode:
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity  * 60 %}
    SAVE_GCODE_STATE NAME=unload_state
    CLEAR_ACTIVE_SPOOL
    G91
    G92 E0
    G1 E-{unload_distance} F{max_velocity} # fast-unload
    RESTORE_GCODE_STATE NAME=unload_state

#####################################################################
#	Filament Change
#####################################################################

# M600: Filament Change. This macro will pause the printer, move the
# tool to the change position, and retract the filament 50mm. Adjust
# the retraction settings for your own extruder. After filament has
# been changed, the print can be resumed from its previous position
# with the "RESUME" gcode.

# Color Change
[gcode_macro M600]
description: Color change
gcode:
    PAUSE
    UNLOAD_FILAMENT
