#####################################################################
#	PRINT_START / PRINT_END
#####################################################################

[gcode_macro PRINT_START]
gcode:
  # This part fetches data from your slicer. Such as bed temp, extruder temp, chamber temp and size of your printer.
  {% set target_bed = params.BED|int %}
  {% set target_extruder = params.EXTRUDER|int %}
  {% set target_extruder_stby = params.EXTRUDER_STBY|default(150)|float %}
  {% set target_chamber = params.CHAMBER|default("0")|int %}
  {% set filament = params.FILAMENT %}
  {% set x_park = printer["gcode_macro clean_nozzle"].bucket_x|default(300) %}
  {% set y_park = printer["gcode_macro clean_nozzle"].bucket_y|default(300) %}

  FILAMENT_SENSORS_ENABLE ENABLE=0 # Disable the filament sensor to avoid false positives

  # Default values
  SET_GCODE_OFFSET Z=0 ; Reset Z offset

  STATUS_HOMING
  G28 ; Home all axes
  G90 ; Set to absolute positioning

  # 1. Preheat extruder to standby (avoids oozing during homing/QGL/mesh)
  M104 S150 ; Heat nozzle to soften filament leftovers

  # 2. Heat bed and wait
  STATUS_HEATING
  M117 { "Waiting for bed target temp: " ~ target_bed }
  M190 S{target_bed}

  # 3. Wait for chamber temp if required
  M117 {"Waiting for chamber target temp: " ~ target_chamber}
  TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={target_chamber}  ; wait for chamber temp


  STATUS_LEVELING
  M117 { "Quad Gantry Level..."  }
  QUAD_GANTRY_LEVEL

  M109 S150 ; Ensure nozzle is at 150C, in case it was hot when print started.

  STATUS_CLEANING
  M117 { "Clean Nozzle..."  }
  CLEAN_NOPURGE PARK=0

  CARTOGRAPHER_TOUCH_HOME ; Home for real Z0

  STATUS_MESHING
  M117 { "Print area mesh..."  }
  BED_MESH_CLEAR
  BED_MESH_CALIBRATE ADAPTIVE=1
  G0 X{x_park} Y{y_park} F6000

  # 5. Extruder target temp, clean, calib z, bed_mesh
  STATUS_HEATING
  M117 { "Wait for extruder temp..."  }
  M109 S{target_extruder}

  STATUS_CLEANING
  M117 { "Clean Nozzle..."  }
  CLEAN_NOPURGE PARK=0

  # 6. Purge and start printing
  LINE_PURGE

  STATUS_PRINTING
  SET_DISPLAY_TEXT MSG="Printer goes brr"          # Displays info
  FILAMENT_SENSORS_ENABLE ENABLE=1     ; Enable the filament sensor
  M117    ; clear_display

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    {% set x_park = printer["gcode_macro clean_nozzle"].bucket_x|default(300) %}
    {% set y_park = printer["gcode_macro clean_nozzle"].bucket_y|default(300) %}

    M400                           ; wait for all moves to finish

    G91
    G1 E-2 F1800                 ; controlled retract (safe)
    G1 Z10 F3000                  ; raise nozzle by 10mm
    G90

    TURN_OFF_HEATERS
    M107                          ; fan off

    G0 X{x_park} Y{y_park} F6000  ; park
    BED_MESH_CLEAR
    STATUS_COMPLETE
    # FILAMENT_SENSORS_ENABLE ENABLE=0  ; Disable sensor to avoid false triggers
