#####################################################################
#	Case LEDs
#####################################################################

[neopixel caselight]
pin: PD3                         # Change this to the correct pin for your board
chain_count: 36                  # Number of LEDs in the strip
color_order: GRB                 # WS2812 typically uses GRB
initial_red: 0.1                 # Optional: initial color when Klipper starts
initial_green: 0.1
initial_blue: 0.1
