#####################################################################
#	Filament Sensors
#####################################################################

[filament_switch_sensor switch_sensor_1]
switch_pin: ^EBBCan:PB6
pause_on_runout: False
runout_gcode:
    M117 Filament sensor 1 triggered
    M600

[filament_switch_sensor switch_sensor_2]
switch_pin: ^EBBCan:PB5
pause_on_runout: False
runout_gcode:
    M117 Filament sensor 2 triggered
    M600
