#####################################################################
#	Bed Heater
#####################################################################
[heater_bed]
##	SSR Pin - In BED OUT position
heater_pin: PB4
sensor_type: Generic 3950 # NTC 100K MGB18-104F39050L32
sensor_pin: PB0 # TB Position
##	Adjust Max Power so your heater doesn't warp your bed
max_power: 0.6
min_temp: 0
max_temp: 120

#####################################################################
#	Temperature Sensors
#####################################################################

[temperature_sensor chamber]
sensor_type: Generic 3950
sensor_pin: PC0
min_temp: 0
max_temp: 100
gcode_id: C

[temperature_sensor spyder_mcu]
sensor_type: temperature_mcu
sensor_mcu: mcu
min_temp: 0
max_temp: 200

[temperature_sensor ebb36_mcu]
sensor_type: temperature_mcu
sensor_mcu: EBBCan
min_temp: 0
max_temp: 200

[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105

#####################################################################
#	Thermistor Types
#####################################################################
# Valid values for the sensor_type option above.
##   "EPCOS 100K B57560G104F"
##   "ATC Semitec 104GT-2"
##   "NTC 100K beta 3950"
##   "Honeywell 100K 135-104LAG-J01"
##   "NTC 100K MGB18-104F39050L32" (Keenovo Heater Pad)
##   "AD595"
##   "PT100 INA826"
